.sect__container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.progress__container {
    display: flex;
    align-items: center;

    .progress__line {
        width: 100%;
        margin-right: .5em;
    }

    .linear__bar {
        height: 10px;
        border-radius: .5rem;
        background: linear-gradient(red);
        // color: #00BFA5;

        // padding: .3em 0;
    }

    .progress__percent {
        min-width: 20%;
    }

    .percent__number {
        color: #6B7280;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}