// .sect__container {
//     width: 90%;
//     max-width: 1024px;
//     margin: 0 auto;
// }

.progress__container {
    display: flex;
    align-items: center;

    .progress__line {
        width: 100%;
        margin-right: .5em;
    }

    .linear__bar {
        height: 8px;
        border-radius: .5rem;
    }

    // .progress__percent {
    //     min-width: 20%;
    // }

    .percent__number {
        color: #6B7280;
        font-weight: 500;
        font-size: .625rem;
        line-height: .8rem;
    }
}

@media (min-width: 780px) {
    .progress__container {
        .linear__bar {
            height: 10px;
        }

        .percent__number {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }
}